@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: darkgray;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar {
    width: 20px;
    height: 4px;
    background-color: black;
    margin: 4px;
}

.menu-hamburguer {
    display: none;
    cursor: pointer;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li a {
    padding: 10px;
    text-decoration: none;
    color: black;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 50px;
    width: 95%;
    margin: auto;
}

.conteudo {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    gap: 10px;
}

img {
    width: 100%;
}

footer {
    background-color: palevioletred;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

.container-footer {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .menu-hamburguer {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .menu li {
        margin: 10px 0;
    }

    .menu.active {
        display: flex;
    }

    .conteudo {
        display: inline;
    }

    .container-footer {
        display: inline-block;
        text-align: center;
    }
    
    footer p {
        text-align: center;
    }

    .coluna {
        margin-bottom: 30px;
    }

}